body {
  background-color: gold;
  font-family: arial;
  max-width: max-content;
  margin: 20px;
}

header {
  font-size: 40px;
  padding: 30px;
  text-align: center;
  background-color: white;
}
/* ------------------------- fotos --------------------*/
.fotos_content {
  height: 200px;
}

.fotos_aboutMe {
  height: 60px;
}

.fotos_aboutMe_quotes {
  height: 60px;
  margin-bottom: 20px;
}

.fotos_content,
.fotos_aboutMe,
.fotos_aboutMe_quotes {
  width: 90%;
  background-color: #aaa;
}

.fotos_content,
.fotos_aboutMe,
.fotos_aboutMe_quotes label {
  padding: 10px;
}

/* ----------------------- content internos ---------------*/
.content p,
.content_abajo p {
  width: 90%;
  text-align: justify;
}

.content,
.content_abajo {
  width: 90%;
  height: 90%;
  background-color: white;
  margin-bottom: 40px;
  padding: 35px;
}

/* ----------------------- right sidebar interno ----------------*/

.aboutMe p,
.extras p {
  width: 90%;
  text-align: justify;
}

.aboutMe {
  background-color: hotpink;
  width: 90%;
  height: 900px;
  margin-bottom: 40px;
  padding: 15px;
}

/* ------------------------------El footer--------------- */

.right_sidebar::after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  float: bottom;
  margin-top: 20px;
  padding: 20px;
  background-color: #ddd;
  text-align: center;
}
/* ----------------------- div grandes ------------------*/
.right_sidebar {
  width: 25%;
}

.article_group {
  width: 75%;
  float: left;
}

.right_sidebar,
.article_group {
  margin-top: 30px;
  display: inline-block;
  box-sizing: border-box;
  background-color: gold;
}
